language: java
sudo: false
dist: trusty

before_install:
  - wget https://github.com/sormuras/bach/raw/master/install-jdk.sh

cache:
  directories:
    - $HOME/.m2

matrix:
  include:
    - env: JDK='Oracle JDK 8'
      jdk: oraclejdk8

script: mvn clean install

after_success:
  - mvn test
  - bash <(curl -s https://codecov.io/bash)
